<app-header (selectedFeature)="loadSelectedFeature($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipes *ngIf="feature === 'recipes'"></app-recipes>
            <app-shopping-list *ngIf="feature !== 'recipes'"></app-shopping-list>
        </div>
    </div>
</div>
<p appBasicHighlight>Style me with basic highlight directive</p>
<p appBetterHighlight [highlightColor]="'red'">Style me with better highlight directive</p>
<p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better highlight directive</p>

<button class="btn btn-primary" (click)="testStrcutural()">Test structural Directive</button>
<p *ngIf="show">I am shown with Angular Structural Directive</p>

<p *appUnless="show">I am shown with custom structural directive</p>